page-home {
    ion-content{
        background-image: url('../assets/imgs/th.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
